<div ng-controller="AllSpecsTableController">

    <div class="navbar">
        <div class="navbar-inner">
            <form class="navbar-search pull-left">
                <input type="text" ng-model="search" class="search-query" placeholder="Search">
            </form>
            <button type="submit" class="btn btn-info pull-right">Collapse all</button>
            <button type="submit" class="btn btn-info pull-right">Expand all</button>
        </div>
    </div>

    <div>Status:</div>
    <div class="progress">
        <div class="bar bar-success" style="width: {{totalSuccessPercentage}}%">{{totalSuccessCount}}</div>
        <div class="bar bar-danger" style="width: {{totalErrorPercentage}}%">{{totalErrorCount}}</div>
    </div>


    <div ng-repeat="spec in specs | filter:search">
        <!-- header -->

        <a data-toggle="collapse" data-target="#spec{{$index}}">
            <h5 ng-class="{true:'text-error', false:'text-info'}[spec.numberOfErrors > 0]">{{spec.fileName}}</h5>
        </a>

        <div id="spec{{$index}}" class="collapse out table table-striped">
            <!-- Features table -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Example</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="feature in spec.features">
                    <td>
                        {{feature.name}}
                    </td>
                    <td>
                        <span ng-repeat="block in feature.blocks">
                            <strong>{{translateBlock(block.kind)}}</strong> {{block.texts.join(" and ")}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



